<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://www.smsqsrg.cn/static/antd/4.6.6/antd.min.css" />
    <%- css %>
</head>
<body>
<%- html %>
<script src="https://www.smsqsrg.cn/static/react/16.13.1/react.production.min.js" />
<script src="https://www.smsqsrg.cn/static/react-dom/16.13.1/react-dom.production.min.js" />
<script src="https://www.smsqsrg.cn/static/moment/2.29.1/moment.min.js" />
<script src="https://www.smsqsrg.cn/static/antd/4.6.6/antd-with-locales.min.js" />
<%- js %>
</body>
</html>
